h1,
p {
    margin: 0;
}

$pink-color: pink;

@mixin make-display-flex {
    display: flex;
}

.main-container {
    background-color: red;

    .content-container {
        background-color: yellow;
        padding: 20px;

        .heading {
            text-align: center;
        }

        .input-row {
            @include make-display-flex;
            background-color: $pink-color;
            justify-content: center;
            padding: 10px 0px;
            position: relative;
        }
    }
}

.input-row {
    .clear-button {
        position: absolute;
        right: 0;
        top: 17px;
    }
}